<style>
div.col-xs-9 {
  border-style: solid;
  border-width: 1px;
}
div.col-xs-1 {
  border-style: solid;
  border-width: 0px;
}
.btn-primary {
  background: #0099cc;
  color: #ffffff;
  border-radius:0;
}
</style>

<% @teams.each_with_index do |team, index| %>
<div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
  <div class="col-xs-9">
    <p><%= team.name %></p>
  </div>
  <div class="col-xs-1">
    <p><%= link_to 'Show', show_team_path(team), class: 'btn btn-primary' %></p>
  </div>
  <div class="col-xs-1">
    <p><%= link_to 'Edit', edit_team_path(team), class: 'btn btn-primary' %></p>
  </div>
  <div class="col-xs-1">
    <p><%= link_to 'Delete', delete_team_path(team), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></p>
  </div>
</div>
<% end %>
