<style>
.btn-primary {
  background: #0099cc;
  color: #ffffff;
  border-radius:0;
}
</style>

<div class="container">
  <h1>Editing Team</h1>
  
  <%= form_for(@team, url:edit_team_path(@team), method: 'post') do |f| %>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
  
        <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  
  <div class="row">
    <%= link_to 'Show', show_team_path(@team), class: 'btn btn-primary' %> |
    <%= link_to 'Back', show_season_path(@team.season), class: 'btn btn-primary' %>
  </div>
</div>
