<div class="container">
  <div class="row">
    <h2>Edit Team</h2>
  </div>
  
  <%= form_for(@team, url:edit_team_path(@team), method: 'post') do |f| %>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
  
        <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <div class="row">
        <%= f.label :name %><br>
      </div>
      <div class="row">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="actions">
      <div class="row padding">
        <%= f.submit "Edit" , :class => "btn btn-primary outline" %> |
        <%= link_to 'Back', show_season_path(@team.season), class: 'btn btn-primary outline' %>
      </div>
    </div>
  <% end %>
  
</div>
