<div class="container">

  <div class="row">
    <h1>Buy <%= @team.name %></h1>
  </div>
  
  <div class="row">
    <label>Book Value</label>
    <p><%= @team.book_value %></p>
  </div>
  
  <div class="row">
    <label>Market Price</label>
    <p><%= @team.market_price_formated %></p>
  </div>
  
  <div class="row">
    <label>My Funds</label>
    <p><%= current_user.funds %></p>
  </div>
  
  <div class="row">
    <%= link_to 'Make Buy Request', buy_team_path(@team), class: 'btn btn-primary outline' %>
  </div>
  
  <div class="row">
    <h3>Available Sellers</h3>
  </div>
  
  <% if @sell_requests.is_empty? %>
    <center><h3>There are no Available Sellers for this team.</h3></center>
  <% else %>
    <%= render 'sell_requests/index_buy' %>
  <% end %>
  
</div>
