<style>
.btn-primary {
  background: #0099cc;
  color: #ffffff;
  border-radius:0;
}
</style>

<div class="container">  
  <p id="notice"><%= notice %></p>
  
  <h2>Team</h2>
  
  <p>
    <strong>Name:</strong>
    <%= @team.name %>
  </p>
  
  <p>
    <strong>Book Price:</strong>
    <%= @team.book_price %>
  </p>
  
  <p>
    <strong>Market Price:</strong>
    <%= @team.market_price %>
  </p>
  
  <p>
    <strong>Season:</strong>
    <%= @team.season.name %>
  </p>
  
  <%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-primary outline' %> |
  <%= link_to 'Back', show_season_path(@team.season), class: 'btn btn-primary outline' %>
</div>
