<% @seasons.each_with_index do |season, index| %>
  <div class="row padding-below <%= index.even? ? 'even-row' : 'odd-row' %>">
    <div class="col-xs-8">
      <p><%= season.name %></p>
    </div>
    <div class="col-xs-4">
      <%= link_to 'Show', show_season_path(season), class: 'btn btn-primary' %> |
      <%= link_to 'Edit', edit_season_path(season), class: 'btn btn-primary' %> |
      <%= link_to 'Delete', delete_season_path(season), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
