<% @seasons.each_with_index do |season, index| %>
  <div class="row">
    <div class="col-xs-4 vcenter">
      <p><b>Season Name</b></p>
    </div>
    <div class="col-xs-4 vcenter">
      <b><p>Season Status</p></b>
    </div>
  </div>
  <div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
    <div class="col-xs-4 vcenter">
      <p><%= season.name %></p>
    </div>
    <div class="col-xs-4 vcenter">
      <p><%= season.formatted_status %></p>
    </div>
    <div class="col-xs-4 padding-top padding-bottom">
      <%= link_to 'Show', show_season_path(season), class: 'btn btn-primary outline' %> |
      <%= link_to 'Edit', edit_season_path(season), class: 'btn btn-primary outline' %> |
      <%= link_to 'Delete', delete_season_path(season), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary outline' %>
    </div>
  </div>
<% end %>
