<div class="container">
  <div class="row">
    <h2>New Season</h2>
  </div>
  
  <%= form_for(@season, url: add_season_path(params[:league_id])) do |f| %>
    <% if @season.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@season.errors.count, "error") %> prohibited this season from being saved:</h2>
  
        <ul>
        <% @season.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <div class="row">
        <%= f.label :name %><br>
      </div>
      <div class="row padding-top padding-bottom">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="actions">
      <div class="row">
        <%= f.submit 'Add Season'%>
      </div>
    </div>
  <% end %>
  
  <div class="row padding">
    <%= link_to 'Back', show_league_path(params[:league_id]), class: 'btn btn-primary outline' %>
  </div>
</div>
