<div class="container">

  <p id="notice"><%= notice %></p>
  
  <div class="row">
    <h2>Season</h2>
  </div>
  
  <div class="row even-row">
    <div class="col-xs-8 vcenter">
      <p><%= @season.name %></p>
    </div>
    <div class="col-xs-4 padding-top padding-bottom">
      <center><%= link_to 'Edit', edit_season_path(@season), class: 'btn btn-primary outline' %></center>
    </div>
  </div>
  
  <div class="row padding">
    <%= link_to 'Back to Seasons', show_league_path(@season.league), class: 'btn btn-primary outline' %>
  </div>
  
  <div class="row padding">
    <div class="col-xs-8">
      <h2>Teams</h2>
    </div>
    <div class="col-xs-4 padding-top padding-botom">
      <center><%= link_to 'Add Team', add_team_path(@season), class: 'btn btn-primary outline' %></center>
    </div>
  </div>
  
  <%= render 'teams/index' %>

  <div class="row padding">  
    <%= link_to 'Add Team', add_team_path(@season), class: 'btn btn-primary outline' %>
  </div>
</div>
