<div class="container">
  <div class="row">
    <h2>Change Password</h2>
  </div>
  <%= form_for(:profile, url: change_password_path) do |form| %>
    <div class="row padding-top padding-bottom">
      <%= form.label 'New Password' %>
      <div class="col-xs-4">
        <%= form.password_field :new_password %>
      </div>
    </div>
    <div class="row padding-top padding-bottom">
      <%= form.label 'Confirm_password' %>
      <div class="col-xs-4">
        <%= form.password_field :password_confirmation %>
      </div>
    </div>
    <div class="row padding-top padding-bottom">
      <%= form.label 'Old Password' %>
      <div class="col-xs-4">
        <%= form.password_field :old_password %>
      </div>
    </div>
    <div class="row padding">
      <%= form.submit 'Change Password', class: 'btn btn-primary' %>
    </div>
  <% end %>
  
</div>
