<div class="container">
  <div class="row">
    <h2>Edit League</h2>
  </div>

  <%= form_for(@league, url: edit_league_path(@league), method: 'post') do |f| %>
    <% if @league.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>
  
        <ul>
        <% @league.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <div class="row">
        <%= f.label :name %>
      </div>
      <div class="row">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row padding-top padding-below">
      <%= f.submit "Add User" , :class => "btn btn-primary outline" %>
    </div>
  <% end %>
  
  <div class="row padding">
    <%= link_to 'Show', show_league_path(@league), class: 'btn btn-primary outline' %> |
    <%= link_to 'Back', show_sport_path(@league.sport), class: 'btn btn-primary outline' %>
  </div>
  
</div>
