<style>
div.col-xs-2 {
  border-style: solid;
  border-width: 1px;
}
div.col-xs-10 {
  border-style: solid;
  border-width: 0px;
}
.btn-primary {
  background: #0099cc;
  color: #ffffff;
  border-radius:0;
  padding-top:50px;
  
}
</style>

<div class="container">  
  <h1>Editing League</h1>
  
  <%= form_for(@league, url: edit_league_path(@league), method: 'post') do |f| %>
    <% if @league.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>
  
        <ul>
        <% @league.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  
  <%= link_to 'Show', show_league_path(@league), class: 'btn btn-primary' %> |
  <%= link_to 'Back', show_sport_path(@league.sport), class: 'btn btn-primary' %>
</div>
