<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @league.sport.name %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', show_sport_path(@league.sport) %>
