<div class="container">
  
  <div class="row">
    <h2>League</h2>
  </div>

  <div class="row even-row">
    <div class="col-xs-8 vcenter">
      <p><%= @league.name %></p>
    </div>
    <div class="col-xs-1 padding-top padding-bottom">
      <%= link_to 'Edit', edit_league_path(@league), class: 'btn btn-primary' %>
    </div>
  </div>
  
  <div class="row padding">
    <%= link_to 'Back To Leagues', show_sport_path(@league.sport), class: 'btn btn-primary' %>
  </div>
  
  <div class="row">
    <h2>Seasons</h2>
  </div>
  
  <%= render 'seasons/index' %>

  <div class="row padding">
    <%= link_to 'Add Season', add_season_path(@league), class: 'btn btn-primary' %>
  </div>

</div>

