<style>

  div.col-md-11 {
    margin-top:50px;
    border-style: solid;
    border-width: 1px;
  }
  
  div.col-md-1 {
    margin-top:50px;
    border-style: solid;
    border-width: 1px;
  }
  
  .btn-primary {
    background: #0099cc;
    color: #ffffff;
    border-radius:0;
}

</style>

<div class="container">
  
  <p> id="notice"><%= notice %></p>
  <h2>League</h2>
  
  <div>
    <p>
      <strong>Name:</strong>
      <%= @league.name %>
    </p>
  </div>
  
  <div class="col-md-11>
    <p>
      <strong>Sport:</strong>
      <%= @league.sport.name %>
    </p>
  </div>
  
  <div class="col-md-1">
    <%= link_to 'Edit', edit_league_path(@league), class: 'btn btn-primary' %>
  </div>
  
  <%= link_to 'Back', show_sport_path(@league.sport), class: 'btn btn-primary' %>
  
  <h3>Seasons</h3>
  
  <%= render 'seasons/index' %>
  
  <%= link_to 'Add Season', add_season_path(@league) %>
  
</div>

