<style>

  div.col-xs-11 {
    border-style: solid;
    border-width: 1px;
  }
  
  div.col-xs-1 {
    border-style: solid;
    border-width: 0px;
  }
  
  .btn-primary {
    background: #0099cc;
    color: #ffffff;
    border-radius:0;
}

</style>

<div class="container">
  <div class="row">
    <h2>League Name</h2>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <p>
        <%= @league.name %>
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-11">
      <p>
        <strong>Sport:</strong>
        <%= @league.sport.name %>
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-1">
      <%= link_to 'Edit', edit_league_path(@league), class: 'btn btn-primary' %>
    </div>
  </div>
  
  <div class="row">
    <%= link_to 'Back', show_sport_path(@league.sport), class: 'btn btn-primary' %>
  </div>
  
  <div class="row">
    <h3>Seasons</h3>
  </div>
  
  <div class="row">
    <%= render 'seasons/index' %>
  </div>

  <div class="row">
    <%= link_to 'Add Season', add_season_path(@league) %>
  </div>

</div>

