<%= form_for(@sell_request) do |f| %>
  <% if @sell_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sell_request.errors.count, "error") %> prohibited this sell_request from being saved:</h2>

      <ul>
      <% @sell_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="row">
      <%= f.label :price %><br>
    </div>
    <div class="row">
      <%= f.text_field :price %>
    </div>
  </div>
  <div class="field">
    <div class="row">
      <%= f.label :amount %><br>
    </div>
    <div class="row">
      <%= f.number_field :amount %>
    </div>
  </div>
  <div class="actions">
    <div class="row">
      <%= f.submit "Add" , :class => "btn btn-primary outline" %>
    </div>
  </div>
<% end %>
