<div class="row">
  <div class="col-xs-4">
    <p><b>Team</b></p>
  </div>
  <div class="col-xs-3">
    <p><b>Price</b></p>
  </div>
  <div class="col-xs-3">
    <p><b>Amount</b></p>
  </div>
</div>

<% @sell_requests.each_with_index do |sell_request, index| %>
  <div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
    <div class="col-xs-4 vcenter">
      <p><%= sell_request.team.name %></p>
    </div>
    <div class="col-xs-3 vcenter">
      <p><%= sell_request.price %></p>
    </div>
    <div class="col-xs-3 vcenter">
      <p><%= sell_request.amount %></p>
    </div>
    <div class="col-xs-2 padding-top padding-bottom">
      <p><%= link_to 'Delete', delete_sell_request_path(sell_request),  method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %></p>
    </div>
  </div>
<% end %>
