
<div class="container">
  <div class="row">
    <h2>Buy</h2>
  </div>
  <div class="row padding">
    <p><strong>Team:</strong> <%= @sell_request.team.name %></p>
  </div>
  <div class="row">
    <p><strong>Price:</strong> <%= @sell_request.price %></p>
  </div>
  <div class="row">
    <p><strong>Amount Available:</strong> <%= @sell_request.amount %></p>
  </div>
  
  <%= form_for(@transaction, url: buy_sell_request_path(@sell_request), method: 'post') do |form| %>
  
    <!--<div class="form-group">-->
      <div class="row padding">
        <%= form.label :ammount, 'Amount To Buy', class: 'col-xs-2 control-label' %>
          <div class="col-xs-10">
            <%= form.text_field :amount, class: 'form-control' %>
          </div>
      </div>
    <!--</div>-->
    
    <!--<div class="actions">-->
      <div class="row padding col-xs-offset-2">
        <%= form.submit "Buy" , :class => "btn btn-primary outline" %> | 
        <%= link_to 'Cancel', team_sell_requests_path(@sell_request.team), class: 'btn btn-primary outline' %>
      </div>
    <!--</div>-->
  <% end %>
</div>
