
<div class="container">
  <h1>Buy</h1>
  <p><strong>Team:</strong> <%= @sell_request.team.name %></p>
  <p><strong>Price:</strong> <%= @sell_request.price %></p>
  <p><strong>Amount Available:</strong> <%= @sell_request.amount %></p>
  
  
  <%= form_for(@transaction, url: buy_sell_request_path(@sell_request), method: 'post') do |f| %>
  
    <div class="field">
      <%= f.label 'Amount To Buy' %><br>
      <%= f.text_field :amount %>
    </div>
    <div class="actions">
      <%= f.submit 'buy' %>
    </div>
  <% end %>
  
  <%= link_to 'Cancel', team_sell_requests_path(@sell_request.team) %>
</div>
