<div class="container">
  
  <div class="row">
    <h2>Sell BluePrints</h2>
  </div>

  <div class="row padding">
    <p><strong>Team:</strong> <%= @holding.team.name %></p>
  </div>

  <div class="row">
    <p><strong>Available BluePrints:</strong> <%= @holding.available_blueprints %></p>
  </div>

  <%= form_for(@sell_request, url: sell_holding_path(@holding), method: 'post') do |form| %>
  <% if @sell_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sell_request.errors.count, "error") %> prohibited this sell_request from being saved:</h2>
  
      <ul>
      <% @sell_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <div class="row padding">
      <%= form.label :price, class: 'col-xs-2 control-label' %>
        <div class="col-xs-10">
          <%= form.text_field :price, class: 'form-control' %>
        </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row padding-top">
      <%= form.label :amount, class: 'col-xs-2 control-label' %>
        <div class="col-xs-10">
          <%= form.number_field :amount, class: 'form-control' %>
        </div>
    </div>
  </div>
  
  <div class="actions">
    <div class="row padding">
      <%= form.submit "Add" , :class => "btn btn-primary outline" %> | 
      <%= link_to 'Cancel', show_portfolio_path, class: 'btn btn-primary outline' %>
    </div>
  </div>
  <% end %>

</div>
