<div class="container">
  
  <div class="row">
    <h2>Sell BluePrints</h2>
  </div>

  <div class="row">
    <p><strong>Team:</strong> <%= @holding.team.name %></p>
  </div>

  <div class="row">
    <p><strong>Available BluePrints:</strong> <%= @holding.available_blueprints %></p>
  </div>

  <%= form_for(@sell_request, url: sell_holding_path(@holding), method: 'post') do |f| %>
  <% if @sell_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sell_request.errors.count, "error") %> prohibited this sell_request from being saved:</h2>
  
      <ul>
      <% @sell_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <div class="row">
      <%= f.label :price %>
    </div>

    <div class="row">
      <%= f.text_field :price %>
    </div>
  </div>
  
  <div class="field">
    <div class="row padding-top">
      <%= f.label :amount %>
    </div>
    <div class="row">
      <%= f.number_field :amount %>
    </div>
  </div>
  <div class="actions padding-top">
    <div class="row">
      <%= f.submit %>
    </div>
  </div>
  <% end %>
  
  <div class="row padding">
    <%= link_to 'Cancel', show_portfolio_path, class: 'btn btn-primary' %>
  </div>

</div>
