<div class="row padding">
  <div class="col-xs-3">
    <p><b>Team</b></p>
  </div>
  <div class="col-xs-2">
    <p><b>Book Value</b></p>
  </div>
  <div class="col-xs-2">
    <p><b>Market Price</b></p>
  </div>
  <div class="col-xs-3">
    <p><b>Blueprints (Selling)</b></p>
  </div>
  <div class="col-xs-2">
    <p><b>Total Book Value</b></p>
  </div>
</div>
<% @holdings.each_with_index do |holding, index| %>
  <div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
    <div class="col-xs-3 vcenter">
      <p><%= holding.team.name %></p>
    </div>
    <div class="col-xs-2 vcenter">
      <p><%= holding.team.book_value %></p>
    </div>
    <div class="col-xs-2 vcenter">
      <p><%= holding.team.market_price %></p>
    </div>
    <div class="col-xs-3 vcenter">
      <p><%= holding.blue_prints %> (<%= holding.blue_prints_selling %>)</p>
    </div>
    <div class="col-xs-2 vcenter">
      <p><%= holding.total_book_value %></p>
    </div>
  </div>
<% end %>
