<div class="container">
  <h2>Edit Sport</h2>
  
  <%= form_for(@sport, url: edit_sport_path(@sport.id), method: 'post') do |f| %>
    <% if @sport.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@sport.errors.count, "error") %> prohibited this sport from being saved:</h2>
  
        <ul>
        <% @sport.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="action">
      <%= f.submit %>
    </div>
  <% end %>
  
  <div class="padding">
    <%= link_to 'Show', show_sport_path(@sport), class: 'btn btn-primary' %> |
    <%= link_to 'Back', sports_path, class: 'btn btn-primary' %>
  </div>
</div>
