<div class="container">
  <div class="row">
    <h2>Sports</h2>
  </div>

  <% @sports.each_with_index do |sport, index| %>
  <div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">  
    <div class="col-xs-9">
      <p><%= sport.name %></p>
    </div>
    <div class="row">
	    <div class="col-xs-4">
	      <p><%= link_to 'Show', show_sport_path(sport), class: 'btn btn-primary btn-lg outline' %></p>
	    </div>
	    <div class="col-xs-4">
      	<p><%= link_to 'Edit', edit_sport_path(sport), class: 'btn btn-primary btn-lg outline' %></p>
   		</div>
    	<div class="col-xs-4">
      	<p><%= link_to 'Delete', delete_sport_path(sport), method: :delete, class: 'btn btn-primary btn-lg outline', data: { confirm: 'Are you sure?' } %></p>
    	</div>
    </div>
  </div>
  <% end %>
  
	<div style="padding-top:20px;" class="row">
    <%= link_to 'New Sport', new_sport_path, class: 'btn btn-primary btn-lg outline' %>
	</div>

</div>
