<style>
div.col-xs-3 {
  border-style: solid;
  border-width: 1px;
}
.btn-primary {
  background: #0099cc;
  color: #ffffff;
  border-radius:0;
}
</style>

<div class="container">
  <div class="row">
    <h2>Sports List</h2>
    <h3>Name</h3>
  </div>

  <% @sports.each do |sport| %>
  <div class="row">  
    <div class="col-xs-3">
      <p><%= sport.name %></p>
    </div>
	<div class="col-xs-3">
      <p><%= link_to 'Show', show_sport_path(sport) %></p>
    </div>
	<div class="col-xs-3">
      <%= link_to 'Edit', edit_sport_path(sport) %>
    </div>
    <div class="col-xs-3">
      <%= link_to 'Destroy', delete_sport_path(sport), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
  
  <div class="row">
    <%= link_to 'New Sport', new_sport_path %>
  </div>

</div>
