<style>


.btn-primary {
  background: #0099cc;
  color: #ffffff;
  border-radius:0;
}

</style>

<div class="container">
  <p id="notice"><%= notice %></p>

  <h2>Sport </h2>

  <p>
    <strong>Name:</strong>
    <%= @sport.name %>
  </p>

  <%= link_to 'Edit', edit_sport_path(@sport), class: 'btn btn-primary' %> |
  <%= link_to 'Back To Sports', sports_path, class: 'btn btn-primary' %> | 
  <%= link_to 'Add League', add_league_path(@sport), class: 'btn btn-primary' %>
</div>
