<div class="container">
  <p id="notice"><%= notice %></p>
  
  <div class="row">
    <h2>Sport</h2>
  </div>

  <div class="row even-row">
    <div class="col-xs-9">
      <p><%= @sport.name %></p>
    </div>
    <div class="col-xs-3">
      <%= link_to 'Edit', edit_sport_path(@sport), class: 'btn btn-primary' %>
    </div>
  </div>
  
  <div class="row">
    <%= link_to 'Back To Sports', sports_path, class: 'btn btn-primary' %>
  </div>

  <div class="row">
    <h2>Leagues</h2>
  </div>

  <div class="row">
    <%= render 'leagues/index' %>
  </div>

  <div class="row">
    <%= link_to 'Add League', add_league_path(@sport), class: 'btn btn-primary' %>
  </div>

</div>
