<style>
div.col-xs-11 {
  border-style: solid;
  border-width: 1px;
}
div.col-xs-1 {
  border-style: solid;
  border-width: 0px;
}
.btn-primary {
  background: #0099cc;
  color: #ffffff;
  border-radius:0;
}
</style>

<div class="container">
  <p id="notice"><%= notice %></p>
  
  <div row="container">
    <h2>Sport</h2>
  </div>

  <div row="container">
    <div class="col-xs-11">
      <p>
        <%= @sport.name %>
      </p>
    </div>
    <div class="col-xs-1">
      <p><%= link_to 'Edit', edit_sport_path(@sport), class: 'btn btn-primary' %></p>
    </div>
  </div>
  
  <div row="container">
    <%= link_to 'Back To Sports', sports_path, class: 'btn btn-primary' %>
  </div>

  <div row="container">
    <h2>Leagues</h2>
  </div>

  <div row="container">
    <%= render 'leagues/index' %>
  </div>

  <div row="container">
    <%= link_to 'Add League', add_league_path(@sport), class: 'btn btn-primary' %>
  </div>

</div>
