<div class="container">
  <h2> Portfolio Profile </h2>
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>League:</strong>
    <%= @portfolio.season.league.name %>
  </p>
  
  <p>
    <strong>Season:</strong>
    <%= @portfolio.season.name %>
  </p>
  
  <p>
    <strong>Funds:</strong>
    <%= current_user.funds %>
  </p>
  
  <p>
    <strong>Total Portfolio Book Value:</strong>
    <%= @portfolio.total_book_value %>
  </p>
  
  <h2>Current Holdings</h2>
  
  <%= render 'holdings/index' %>
  <div class="row total-row">
    <div class="col-xs-3 vcenter">
      <p><b>Total Portfolio Book Value</b><p>
    </div>
    <div class="col-xs-2 col-xs-offset-7 vcenter">
      <center><p><%= @portfolio.total_book_value %><p></center>
    </div>
  </div>
  
  <h2>Pending Sell Requests</h2>
  
  <%= render 'sell_requests/index_delete' %>
  
</div>
