<div class="container">
  <h1>Portfolio Profile</h1>
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>League:</strong>
    <%= @portfolio.season.league.name %>
  </p>
  
  <p>
    <strong>Season:</strong>
    <%= @portfolio.season.name %>
  </p>
  
  <p>
    <strong>Funds:</strong>
    <%= current_user.funds %>
  </p>
  
  <p>
    <strong>Available Funds:</strong>
    <%= current_user.available_funds %>
  </p>
  
  <p>
    <strong>Total Portfolio Book Value:</strong>
    <%= @portfolio.total_book_value %>
  </p>
  
  <h2>Current Holdings</h2>
  <% if @holdings.empty? %>
    <center><h3>You currently don't have any Blueprints in any teams.<h3></center>
    <center><h4>To buy Blueprints, go to the <%= link_to 'BUY', season_sell_requests_path(current_portfolio.season) %> tab.<h4></center>
  <% else %>
    <%= render 'holdings/index' %>
    <div class="row total-row">
      <div class="col-xs-3 vcenter">
        <p><b>Total Portfolio Book Value</b><p>
      </div>
      <div class="col-xs-2 col-xs-offset-7 vcenter">
        <center><p><%= @portfolio.total_book_value %><p></center>
      </div>
    </div>
  <% end %>
  
  <h2>Pending Sell Requests</h2>
  
  <% if @sell_requests.empty? %>
    <center><h3>You currently don't have any Pending Sell Requests.<h3></center>
    <center><h4>To sell your Blueprints, go to the <%= link_to 'SELL', season_buy_requests_path(current_portfolio.season) %> tab.<h4></center>
  <% else %>
    <%= render 'sell_requests/index_delete' %>
  <% end %>
  
  <h2>Pending Buy Requests</h2>
  
  <% if @buy_requests.empty? %>
    <center><h3>You currently don't have any Pending Buy Requests.<h3></center>
    <center><h4>To buy Blueprints, go to the <%= link_to 'BUY', season_sell_requests_path(current_portfolio.season) %> tab.<h4></center>
  <% else %>
    <%= render 'buy_requests/index_delete' %>
  <% end %>
  
</div>
