<div class="container">
  <h2> Portfolio Profile </h2>
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>League:</strong>
    <%= @portfolio.season.league.name, class="padding" %>
  </p>
  
  <p>
    <strong>Season:</strong>
    <%= @portfolio.season.name %>
  </p>
  
  <p>
    <strong>Funds:</strong>
    <%= current_user.funds %>
  </p>
  
  <h2>Current Holdings</h2>
  
  <%= render 'holdings/index' %>
  
  <h2>Sell Requests</h2>
  
  <%= render 'sell_requests/index_delete' %>
  
</div>
