<div class="container">
  <div class="row">
    <h1>Financial Statistics</h1>
    <p id="notice"><%= notice %></p>
  </div>

  <div class="row">
    <p>
      <strong>Funds:</strong>
      <%= current_user.funds %>
    </p>
  </div>
  
  <div class="row">
    <p>
      <strong>Available Funds:</strong>
      <%= current_user.available_funds %>
    </p>
  </div>
  
  <div class="row">
  <p>
    <strong>Total Portfolio Value:</strong>
    <%= current_user.portfolios.select{|portfolio|portfolio.season.in_progress?}.inject(0){portfolio:total|total + portfolio.total_book_value} %>
  </p>
   </div>
   
  <div class="row">
    
    <% if @active_seasons.empty? %>
      <h2>Active Seasons</h2>
      <h5>You currently not associated with any active seasons.<h5>
      <h5>To join a season, click the 'Join A Season' button above.<h5>
    <% else %>
      <h2>Active Seasons</h2>
    <% end %>
  </div>
  
  
  <%= render 'seasons/active_season_index', seasons: @active_seasons %>

</div>
