<div class="container">
  <div class="row">
      <h1>Financial Statistics</h1>
      <p id="notice"><%= notice %></p>
  </div>
  <div class="row stats_title">
    <div class="col-xs-4">
      <p>
        <strong>Funds:</strong>
      </p>
    </div>
    <div class="col-xs-4">
      <p>
        <strong>Available Funds:</strong>
      </p>
    </div>
    <div class="col-xs-4">
      <p>
        <strong>Total Portfolio Value:</strong>
    </div>
  </div>
   <div class="row stats">
    <div class="col-xs-4">
      <p>
        <center><%= "%.2f" % [current_user.funds] %></center>
      </p>
    </div>
    <div class="col-xs-4">
      <p>
        <center><%= "%.2f" % [current_user.available_funds] %></center>
      </p>
    </div>
    <div class="col-xs-4">
      <p>
        <center><%= "%.2f" % [current_user.total_portfolio_value] %></center>
      </p>
    </div>
  </div>
  
  <div class="row">
    
    <% if @active_seasons.empty? %>
      <h2>Active Seasons</h2>
      <h5>You currently not associated with any active seasons.<h5>
      <h5>To join a season, click the 'Join A Season' button above.<h5>
    <% else %>
      <h2>Active Seasons</h2>
    <% end %>
  </div>
  
  
  <%= render 'seasons/active_season_index', seasons: @active_seasons %>
  
  <div class="row">
    
    <% if !@active_seasons.empty? %>
      <h2>Concluded Seasons</h2>
    <% end %>
  </div>
  
  <%= render 'seasons/active_season_index', seasons: @concluded_seasons %>

</div>
