<div class="container">
  <div class="row">
    <h2>Edit Player</h2>
  </div>

  <%= form_for(:player, url: edit_player_path(player.id), method: 'post') do |form| %>
    <% if @player.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@sport.errors.count, "error") %> prohibited this sport from being saved:</h2>
  
        <ul>
        <% @player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <div class="row padding">
        <%= form.label :funds, class: 'col-xs-2 control-label' %>
          <div class="col-xs-10">
            <%= form.text_field :funds, class: 'form-control' %>
          </div>
      </div>
    </div>
    <div class="row padding col-xs-offset-2">
      <%= form.submit "Edit" , :class => "btn btn-primary outline" %> |
      <%= link_to 'Back', player.path, class: 'btn btn-primary outline' %>
    </div>
  <% end %>
  
</div>
