<div class="container">
  <div class="row">
    <h2>Player List</h2>
    <h3>Username</h3>
  </div>

  <% @players.each_with_index do |player, index| %>
  <div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
    <div class="col-xs-4">
      <p><%= player.name %></p>
    </div>
    <div class="col-xs-5">
      <p><%= player.email %></p>
    </div>
    <div class="col-xs-3">
      <%= link_to 'Delete', delete_player_path(player.id), method: 'delete', class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
  
  <div class="row">
    <%= link_to 'Register Player', new_player_path, class: 'btn btn-primary' %>
  </div>

</div>
