<div class="container">
  <div class="row">
    <h2>Player List</h2>
  </div>
  
  <div class="row">
    <div class="col-xs-5">
      <p><b>Username</b><p>
    </div>
    <div class="col-xs-5">
      <p><b>Email</b><p>
    </div>
  </div>

  <% @players.each_with_index do |player, index| %>
  <div class="row <%= index.even? ? 'even-row' : 'odd-row' %>">
    <div class="col-xs-5 vcenter">
      <p><%= player.name %></p>
    </div>
    <div class="col-xs-5 vcenter">
      <p><%= player.email %></p>
    </div>
    <div class="col-xs-2 padding-top padding-bottom">
      <%= link_to 'Delete', delete_player_path(player.id), method: 'delete', class: 'btn btn-primary outline' %>
    </div>
  </div>
  <% end %>
  
  <div class="row padding">
    <%= link_to 'Register Player', new_player_path, class: 'btn btn-primary outline' %>
  </div>

</div>
