<div class="container">
  
  <div class="row">
    <h1>Change Player Password</h1>
  </div>
  
  <%= form_for(:player, url: player_change_password_path(@player.id), method: 'post') do |form| %>
  
    <div class="form-group">
      <div class="row padding">
        <%= form.label :funds, class: 'col-xs-2 control-label' %>
          <div class="col-xs-10">
            <%= form.text_field :funds, value: @player.funds, class: 'form-control' %>
          </div>
      </div>
    </div>
    <div class="row padding col-xs-offset-2">
      <%= form.submit "Edit" , :class => "btn btn-primary outline" %> |
      <%= link_to 'Back', players_path, class: 'btn btn-primary outline' %>

    </div>
  <% end %>
  
</div>
